<div class="aside-section">
    <div class="aside-section-about">
        <div class="aside-section-heading">
            <h3 class="aside-heading">
                About Me
            </h3>
        </div>
        <div class="aside-about-img-cont">
            <img src="{{ .Site.BaseURL }}/img/img-of-me.png" alt="A picture of me">
        </div>
        <div class="aside-about-text-cont">
            <p class="aside-about-text">
                I'm Siyabonga Konile, an aspiring full-stack web developer who started  programming for fun. 
                I like to create stuff and learning about everything around me.
            </p>
        </div>
    </div>
</div>