<!-- Start of Footer -->
<div class="fat-footer">
    <div class="footer-social-cont">
        <ul class="footer-social">
            <li class="social-link-cont">
                <a href="https://www.linkedin.com/in/siyabongakonile/" target="_blank" class="social-link">
                    <span class="lab la-linkedin-in"></span>
                </a>
            </li>
            <li class="social-link-cont">
                <a href="https://github.com/siyabongakonile/" target="_blank" class="social-link">
                    <span class="lab la-github-alt"></span>
                </a>
            </li>
            <li class="social-link-cont">
                <a href="https://www.facebook.com/profile.php?id=100069815064961" target="_blank" class="social-link">
                    <span class="lab la-facebook-f"></span>
                </a>
            </li>
            <!-- <li class="social-link-cont">
                <a href="" target="_blank" class="social-link">
                    <span class="lab la-twitter"></span>
                </a>
            </li> -->
        </ul>
    </div>

    <div class="footer-nav-cont">
        <ul class="footer-nav">
            <li class="footer-link-cont">
                <a href="{{ .Site.BaseURL }}" class="footer-link">Home</a>
            </li>
            <li class="footer-link-cont">
                <a href="{{ .Site.BaseURL }}/blogs/" class="footer-link">Blog</a>
            </li>
            <li class="footer-link-cont">
                <a href="{{ .Site.BaseURL }}/about/" class="footer-link">About</a>
            </li>
            <li class="footer-link-cont">
                <a href="{{ .Site.BaseURL }}/contact/" class="footer-link">Contact</a>
            </li>
        </ul>
    </div>

    <footer>
        <p>Copyrights &copy; Siyabonga Konile</p>
    </footer>
</div>
<!-- End of Footer -->